{sub_dirs, ["apps/dummy_app",
            "apps/helper_app",
            "rel"
           ]}.

{erl_first_files, ["src/first.erl"]}.

{erl_opts, [
            debug_info, 
            fail_on_warning
           ]}.

{edoc_opts, [{preprocess, true}]}.

{cover_enabled, true}.

{require_otp_vsn, "R15"}.

{deps, [
       {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}}]}.